@keyframes shake {
  10%, 90% {
    transform: rotate(1deg);
  }
  
  20%, 80% {
    transform: rotate(2deg);
  }

  30%, 50%, 70% {
    transform: rotate(-3deg);
  }

  40%, 60% {
    transform: rotate(3deg);
  }
}



/* entire container, keeps perspective */
.row#member-first-row .card-frame .flip-container {
  -webkit-perspective: 1000;
}

/* flip the pane when clicked */
.row#member-first-row .card-frame .flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
}

.row#member-first-row .card-frame .flip-container, .front, .back {
  width : 338px;
  height : 212px;
}

/* flip speed goes here */
.row#member-first-row .card-frame .flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.row#member-first-row .card-frame .front, .back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.row#member-first-row .card-frame .front {
  z-index: 2;
}

/* back, initially hidden pane */
.row#member-first-row .card-frame .back {
  -webkit-transform: rotateY(180deg);
}
