

.btn {
  cursor : pointer;
  border : none;
  display : inline-block;
  padding : 15px 15px;
  text-align : center;
  border-radius : 7px;
  margin : 5px;
  min-width : 120px;
  font-family : brandon bold;
  letter-spacing : 1px;
  font-size : 12px;
  text-transform : uppercase;   
  border: 1px solid transparent;
  color : #fff;
  position : relative;
  transition : all .2s linear;
}

.btn:hover {
  transition : all .1s linear;
}

.btn.btn-primary {
  background-color : #857bff;
  border-color : #857bff;
}
.btn.btn-danger {
  background-color : #dc5275;
  border-color : #dc5275;
}
.btn.btn-success {
  background-color: #08d26f;
  border-color: #08d26f;
}
.btn.btn-secondary {
  background-color: #4556ac;
  border-color: #4556ac;
}
.btn.btn-light {
  background-color: #ebecf1;
  border-color: #ebecf1;
  color : #4c4d6f;
} 
.btn.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}


.btn.btn-primary:hover {
  background-color: #6255ff;
  border-color: #5648ff;
}
.btn.btn-danger:hover {
  background-color: #d2365e;
  border-color: #d02450;
}
.btn.btn-success:hover {
  background-color: #07ad5c;
  border-color: #06a155;
}
.btn.btn-secondary:hover {
  background-color: #39478f;
  border-color: #39478f;
}
.btn.btn-light:hover {
  background-color: #dde3e6;
  border-color: #d6dde0;
}
.btn.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
} 

.btn.btn-fw {
  display : block;
}


.badge {
  display: inline-block;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  line-height: 1;
  padding: 0.3rem 0.45rem;
  font-weight: 400;
  color : #fff;
}

.badge.badge-primary{
  background-color : #857bff;
}
.badge.badge-danger{
  background-color : #dc5275;
}
.badge.badge-success{
  background-color: #08d26f;
}
.badge.badge-warning{
  background-color: #ffbc34;
}



.image-icon{
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center;
  z-index : 0;
  opacity : 0.8;
  transform-origin: center center;
}

.image-icon.size-lg{
  width : 120px;
  height : 120px;
}
.image-icon.size-md{
  width : 100px;
  height : 100px;
}
.image-icon.size-sm{
  width : 80px;
  height : 80px;
}

.image-icon.shopping-basket {
  background-image : url(../images/icon-shopping-basket.png);
}
.image-icon.online-shop {
  background-image : url(../images/icon-online-shop.png);
}
.image-icon.notepad {
  background-image : url(../images/icon-notepad.png);
}
.image-icon.advertising {
  background-image : url(../images/icon-advertising.png);
}

.image-icon.header {
  position : absolute;
  right : -8px;
  bottom : -4px;
}
