/* *** keyboard dark theme ***
  for when jQuery UI themes are not being used
  See http://jsfiddle.net/Mottie/6dmqhLvh/
 */
.ui-keyboard {
	/* adjust overall keyboard size using "font-size" */
	text-align: center;
	/* include the following setting to place the
	keyboard at the bottom of the browser window */
	position : absolute;
	font-size : 20px;
	background : rgba(0,0,0,0);
}
.ui-keyboard-has-focus {
	z-index: 999999;
}
.ui-keyboard-button {
	margin: 5px;
	width : 130px;
	height: 6em;
	color: #3a3a58;
	font-family : brandon medium;
	border-radius: 5px;
	background: #b0b1e6;
	border : 1px solid transparent;
	opacity : 1;
	cursor: pointer;
	text-transform : uppercase;
	overflow: hidden;
	-moz-user-focus: ignore;
	transition : all .1s ease-in-out;
}

.ui-keyboard-preview {
	width : calc(100% - 30px);
  border-radius : 8px;
  border : none;
  outline : none;
  background : #f2f3fc;
  box-shadow : inset 1px 2px 2px rgba(134,144,230,0.2);
  font-family : prime regular;
  font-size : 20px;
  color : #2a2a2a;
  letter-spacing : 1px;
  padding : 15px 15px;
  margin-bottom : 25px;
}

.ui-keyboard-button:not([disabled]):active {
	background: #6c6fe0;
	transform : scale(1.05);
}
.ui-keyboard-button span {
	display: block;
	width: 100%;
	margin-top : 0px;
	font-size: 26px;
	text-align: center;
}
/* make action keys extra-wide */
.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) {
	min-width: 0em;
	padding-top : 7px;
}
.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) span {
	font-size: 1.6em;
	
}
.ui-keyboard-placeholder {
	color: #888;
	width : 80%;
	padding : 10px;
	padding-bottom : 25px;
	font-size : 22px;
	background : rgba(255,255,255,0.2);
	font-family : brandon regular;
	letter-spacing : 2px;
}
/* disabled or readonly inputs, or use input[disabled='disabled'] { color: #f00; } */
.ui-keyboard-nokeyboard {
	color: #888;
	border-color: #888;
}
.ui-keyboard-spacer {
	display: inline-block;
	width: 1px;
	height: 0;
	cursor: default;
}
.ui-keyboard-NBSP span, .ui-keyboard-ZWSP span, .ui-keyboard-ZWNJ span, .ui-keyboard-ZWJ span,
.ui-keyboard-LRM span, .ui-keyboard-RLM span {
	font-size: 0.5em;
	line-height: 1.5em;
	white-space: normal;
}

/* combo key styling - toggles diacritics on/off */
.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
	-webkit-box-shadow: 1px 1px 3px 0 rgba(213, 133, 18, 0.5);
	        box-shadow: 1px 1px 3px 0 rgba(213, 133, 18, 0.5);
	border-color: #d58512;
}
.ui-keyboard-button.ui-keyboard-combo.ui-state-active {
	-webkit-box-shadow: 1px 1px 3px 0 rgba(38, 154, 188, 0.5);
	        box-shadow: 1px 1px 3px 0 rgba(38, 154, 188, 0.5);
	border-color: #269abc;
}
/* (in)valid inputs */
button.ui-keyboard-accept.ui-keyboard-valid-input {
	-webkit-box-shadow: 1px 1px 3px 0 rgba(57, 132, 57, 0.5);
	        box-shadow: 1px 1px 3px 0 rgba(57, 132, 57, 0.5);
	border-color: #398439;
}
button.ui-keyboard-accept.ui-keyboard-valid-input:not([disabled]):hover {
	border-color: #4cae4c;
}
button.ui-keyboard-accept.ui-keyboard-invalid-input {
	-webkit-box-shadow: 1px 1px 3px 0 rgba(172, 41, 37, 0.5);
	        box-shadow: 1px 1px 3px 0 rgba(172, 41, 37, 0.5);
	border-color: #ac2925;
}
button.ui-keyboard-accept.ui-keyboard-invalid-input:not([disabled]):hover {
	border-color: #d43f3a;
}

