.master-body#pos-index {
  
}

.master-body#pos-index{
  min-height : 100vh;
  background : url(../images/pos-background.jpg) #f8f8f8;
  background-size : 100%;
  background-repeat : no-repeat;
  background-position : top center;
}

.master-body#pos-index #logo{
  height : 70px;
  width : 140px;
  position : absolute;
  right : 5%;
  z-index : 22;
  top : 5vh;
  background-image : url(../images/tilltalk-logo.png);
  background-size : 100%;
  background-repeat : no-repeat;
}

.master-body#pos-index .center-frame{
  max-width : 1100px;
  margin : 0 auto;
  margin-top : 20vh;
  position : relative;
}

.master-body#pos-index .center-frame #left{
  width : 450px;
  float : left;
}

.master-body#pos-index .center-frame #left img{
  width : 100%;
}

.master-body#pos-index .center-frame #right{
  width : 450px;
  float : right;
  margin-right : 6vw;
}

.master-body#pos-index .center-frame #right .inner-frame{
  margin-top : 18vh;
  width : 410px;
  position :relative;
}

.master-body#pos-index .center-frame #right #toko-title{
  font-size : 22px;
  font-family : open sans;
  font-weight : 300;
  color : #fff;
  width : 100%;
  text-align : center;
  margin-bottom : 20px;
}
.master-body#pos-index .center-frame #right #toko-title span{
  font-weight : 700;
}

.master-body#pos-index .center-frame #right #button{
  width : 350px;
  padding : 25px 30px;
  background : #58e4ad;
  border-radius : 8px;
  overflow : hidden;
  box-shadow : 7px 3.5px 15px 0px rgba(48, 49, 96, 0.2);
  color : #fff;
  font-weight : 400;
  font-size : 40px;
  cursor : pointer;
  transition : all .4s ease-in-out;
}
.master-body#pos-index .center-frame #right #button:hover {
  box-shadow: 0px 0px 60px rgba(134, 255, 205, 1);
  transition : all .2s ease-in-out;
}

.master-body#pos-index .center-frame #right #button #icon{
  display : inline-block;
  margin-right : 15px;
  margin-left : 10px;
  width : 50px;
  height : 40px;
  position : relative;
  transition : all .2s linear;
} 
.master-body#pos-index .center-frame #right #button:hover #icon{
  transform : rotate(-8deg);
  transition-delay : .35s;
} 

.master-body#pos-index .center-frame #right #button #icon img{
  width : 100%;
  position : absolute;
  top : 0;
  z-index : 2;
} 

.master-body#pos-index .center-frame #right #button #icon .anim-box {
  position : absolute;
  transform : translateY(-100px);
  box-shadow : 1px 1px 4px rgba(0,0,0,0.2);
  transition : all .3s ease-in-out;
  opacity : 0;
}
.master-body#pos-index .center-frame #right #button:hover #icon .anim-box {
  transition : all .32s ease-in-out;
  opacity : 1;
}

.master-body#pos-index .center-frame #right #button #icon .anim-box#one {
  width : 10px;
  height : 25px;
  left : -22px;
  background : #ecee66;
}

.master-body#pos-index .center-frame #right #button #icon .anim-box#two {
  border-radius : 50%;
  width : 15px;
  height : 15px;
  left : 20px;
  z-index : 2;
  background : #9b66f2;
}

.master-body#pos-index .center-frame #right #button #icon .anim-box#three {
  width : 15px;
  height : 15px;
  right : -25px;
  background : #ee6689;
}

.master-body#pos-index .center-frame #right #button:hover #icon .anim-box#one {
  transform : rotate(-10deg) translateY(-5px);
  left : 12px;
}
.master-body#pos-index .center-frame #right #button:hover #icon .anim-box#two {
  transform : rotate(-10deg);
  transition-delay : .2s;
}
.master-body#pos-index .center-frame #right #button:hover #icon .anim-box#three {
  transform : rotate(10deg) translateY(-2px);
  transition-delay : .1s;
  right : 5px;
}




/* - - - - - - - -  D A S H B O A R D - - - - - - - - - */



.master-body#pos-dashboard {
  min-height : 100vh;
  background : url(../images/pos-background.jpg) #f8f8f8;
  background-size : 100%;
  background-repeat : no-repeat;
  background-position : center -140px;
}

.master-body#pos-dashboard .center-frame {
  margin : 0 auto;
  padding : 0 50px;
  position : relative;
  max-width : 1080px;
}

.row#pos-dashboard-first-row {
  margin : 40px 0;
  margin-bottom : 30px;
}

.row#pos-dashboard-first-row #store-title{
  font-family : open sans;
  font-weight : 300;
  font-size : 22px;
  color : #fff;
  float : left;
  padding-top : 15px;
}
.row#pos-dashboard-first-row #store-title span{
  font-weight : 600;
}

.row#pos-dashboard-first-row #logo{
  height : 70px;
  width : 140px;
  float : right;
  right : 5%;
  z-index : 22;
  background-image : url(../images/tilltalk-logo.png);
  background-size : 100%;
  background-repeat : no-repeat;
}

.row#pos-dashboard-second-row input#barcode {
  width : calc(100% - 30px);
  border-radius : 8px;
  border : none;
  outline : none;
  background : #f2f3fc;
  box-shadow : inset 1px 2px 2px rgba(134,144,230,0.2);
  font-family : prime regular;
  font-size : 20px;
  color : #2a2a2a;
  letter-spacing : 1px;
  padding : 15px 15px;
  margin-bottom : 15px;
  opacity : 0;
}

.row#pos-dashboard-second-row input::-webkit-input-placeholder {
  color : #736891;
  font-family : open sans;
  font-weight : 300;
  letter-spacing : 0;
}

.row#pos-dashboard-second-row #total-price {
  margin-top : 0px;
  font-family : brandon medium;
  font-size : 40px;
  color : #6c6fe0;
}

.row#pos-dashboard-second-row .button-frame {
  margin-top : 350px;
}

.row#pos-dashboard-second-row .button-frame .btn {
  font-size : 16px;
  text-align : center;
  min-width : calc(50% - 14px);
}
.row#pos-dashboard-second-row .button-frame .btn i{
  font-size : 35px;
  margin-bottom : 10px;
}
























