body, html {
  padding : 0px;
  margin : 0px;
  background : #f8f8f8;
  color : #2a2a2a;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: open sans;
  font-weight: 300;
  box-sizing : border-box;
}

@font-face { font-family: Brandon regular; src: url(fonts/brandon_re.ttf); }
@font-face { font-family: Brandon bold; src: url(fonts/Brandon_bld.otf); }
@font-face { font-family: Brandon medium; src: url(fonts/Brandon_med.otf); }
@font-face { font-family: mark pro; src: url(fonts/MarkPro.otf); font-weight: 300; }
@font-face { font-family: mark pro; src: url(fonts/MarkPro-Bold.otf); font-weight: 500; }
@font-face { font-family: prime light; src: url(fonts/Prime-Light.otf); font-weight: 300; }
@font-face { font-family: prime regular; src: url(fonts/Prime-Regular.otf); font-weight: 400; }

/* @font-face { font-family: Cinzel; src: url(fonts/TrajanPro-Regular.ttf); } */


input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clear {
  clear : both;
}

.master-body {
  width : 100%;
  height : 100%;
  overflow: hidden;
  margin : 0 auto;
  position : relative;
  background : #f8f8f8;
}

.header-frame {
  width : 100%;
  min-height : 280px;
  position :relative;
  background : #6c6fe0;
  background-image : url(images/header-background.png);
  background-size : 56vw;
  background-repeat : no-repeat;
  background-position : right bottom;
}

.center-content {
  padding : 0 0px;
}

.navbar-menu {
  width : 100%;
  position : fixed;
  z-index : 999;
  top : 50px;
  left : 0;
  transition : all .4s linear;
}

.scroll-active.navbar-menu {
  top : 0;
  background : #fff;
  box-shadow : 0 2px 6px rgba(131,133,220, 0.16);
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); 
}
.scroll-active.navbar-menu #logo{
  margin-top : 14px;
  margin-bottom : 14px;
  height : 40px;
  width : 120px;
  background-image : url(images/tilltalk-logo-dark.png);
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); 
}
.scroll-active.navbar-menu #search-bar-frame {
  max-width : 300px;
  margin-top : 15px;
  transition: all .32s ease-in-out; 
  transition-delay : .2s;
}
.scroll-active.navbar-menu #search-bar-frame #search-bar {
  background : #fff;
  border-radius : 50px;
  box-shadow : 0 0 0 1.4px #d9d9ef;
  padding : 6px 30px;
  transition: all .2s ease-in-out; 
}
.scroll-active.navbar-menu #search-bar-frame #search-bar input{
  color : #4c4d6f;
}
.scroll-active.navbar-menu #search-bar-frame #search-bar input::-webkit-input-placeholder{
  color : #4c4d6f;
}
.scroll-active.navbar-menu #search-bar-frame #search-bar button{
  color : #6c6fe0;
  top : 0px;
  transition: all 900ms cubic-bezier(0.86, 0, 0.07, 1); 
}
.scroll-active.navbar-menu #side-menu-trigger {
  margin-top : 10px; 
  transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1); 
}
.scroll-active.navbar-menu #side-menu-trigger .cd-nav-trigger{
  height : 45px;
  width : 45px;
  box-shadow : 0 0 0 0px #6c6fe0;
}

.navbar-menu #logo{
  width : 150px;
  height : 50px;
  float : left;
  margin-left : 40px;
  background-image : url(images/tilltalk-logo.png);
  background-size : 100%;
  background-repeat : no-repeat;
}

.navbar-menu .navbar-right {
  float : right;
  position : relative;
  margin-right : 60px;
}

.navbar-menu #search-bar-frame {
  max-width : 250px;
  position : relative;
  width : 30vw;
  float : left;
  margin-right : 90px;

  transition: all .2s ease-in-out; 
  transition-delay : .1s;
}

.navbar-menu #search-bar-frame #search-bar{
  width : 100%;
  background : #5457b3;
  max-height : 25px;
  border-radius : 50px;
  padding : 10px 30px;
  position : relative;
  transition : all .6s linear;
}

.navbar-menu #search-bar-frame #search-bar input{
  border : none;
  outline : none;
  background : transparent;
  font-family : open sans;
  font-size : 17px;
  color : #fff;
}
.navbar-menu #search-bar-frame #search-bar input::-webkit-input-placeholder{
  color : #fff;
}

.navbar-menu #search-bar-frame #search-bar button{
  border : none;
  outline : none;
  background : transparent;
  font-size : 18px;
  width : 40px;
  height : 40px;
  position : absolute;
  top : 6px;
  right : 20px;
  color : #fff;
  transition : all .7s linear;
}

.navbar-menu #side-menu-trigger {
  float : left;
  margin-top : -2.5px;
  position :relative;
  transition : all .8s linear;
}

.navbar-menu #side-menu-trigger .cd-nav-trigger{
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,1);
  box-shadow: 8.91px 4.54px 9px 0px rgba(45, 46, 73, 0.30);
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  
  transition : all .22s ease-in-out;
}

.navbar-menu #side-menu-trigger .cd-nav-trigger:hover {
  transform : scale(1.1);
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); 
}

/* - - - - - F O O T E R - - - - - */

.footer-frame {
  margin-top : 10vh;
  width : 100%;
  height : 150px;
  background-image : url(images/footer-pattern.png);
  background-position : center bottom;
}


/* ------ MASTER FRAME ------- */

.master-frame {
  position : relative;
  margin-top : -90px;
  width : calc(100% - 60px);
  padding : 0 30px;
}

.master-frame .left-panel{
  width : 250px;
  height : 100px;
  float : left;
  position : relative;
}

.left-panel #user-info-frame {
  margin-top : 0;
  position : relative;
  width : 100%;
  padding-top : 10px;
}

.left-panel #user-info-frame #image{
  position : relative;
  float : left;
  width : 60px;
  height : 60px;
  text-align : center;
  border-radius : 50%;
  overflow : hidden;
}
.left-panel #user-info-frame #image img{
  width : 100%;
}

.left-panel #user-info-frame #content{
  position : relative;
  float : left;
  width : calc(100% - 75px);
  color : #fff;
  padding-left : 15px;
}

.left-panel #user-info-frame #content #name{
  margin-top : 5px;
  font-size : 18px;
}
.left-panel #user-info-frame #content #status{
  font-size : 12px;
  text-transform : uppercase;
  font-family : brandon bold;
  letter-spacing : 2px;
}


.left-panel #side-menu{
  position : absolute;
  top : 260px;
  width : 260px;
  padding : 0;
  margin : 0;
  list-style : none;
  margin-top : 50px;
}

.left-panel #side-menu li{ 
  padding : 9px 0;
  color : #4c4d6f;
  font-size : 17px;
  background : transparent;
  transition: all .2s linear;
}
.left-panel #side-menu li.active,
.left-panel #side-menu li.active i {
  font-weight : 700;
  color : #6c6fe0;
} 
.left-panel #side-menu li:hover {
  background : linear-gradient(-90deg, rgba(93,97,231,0.2) 0%, transparent 50%);
  transition: all .2s linear;
  cursor : pointer;
}
.left-panel #side-menu li:hover i{
  margin-left : 10px;
  transition: all .2s linear;
}

.left-panel #side-menu li i{ 
  color : #4c4d6f;
  width : 32px;
  transition: all .2s ease-in-out; 
}




.master-frame .right-panel {
  width : calc(100% - 275px);
  min-height : 600px;
  padding-bottom : 40px;
  margin-left : 25px;
  position : relative;
  float : left;
}



/* - - - - - C A R D  M A S T E R  S T Y L I N G - - - - - */

.right-panel .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.right-panel .inside-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 12px;
  margin-left: 12px;
}

.col-4, .col-3, .col-5, .col-6, .col-7, .col-8, .col-12 {
  padding-right: 12px;
  padding-left: 12px;
  flex: 1;
  position : relative;
}

.col-3 {
  max-width: 25%;
}
.col-4 {
  max-width: 33.33333%;
}
.col-5 {
  max-width: 41.66667%;
}
.col-6 {
  max-width: 50%;
}
.col-7 {
  max-width: 58.33333%;
}
.col-8 {
  max-width: 66.66667%
}
.col-12 {
  max-width: 100%;
}

.row#header-title-only .box-title {
  font-size : 30px;
  font-weight : 300;
  color : #6c6fe0;
  font-family : open sans;
  margin-bottom : 0;
}

.row#header-title-only .image-icon {
  right : -10px;
  bottom : -10px;
}

.row#header-title-only .card-body {
  padding : 10px 20px;
}





.right-panel .card {
  position : relative;
  float : left;
  min-width : 100%;
  max-width : 100%;
  margin-bottom : 20px;
  border-radius : 6px;
  background : #fff;
  box-shadow: 7px 3.5px 12px 0px rgba(48, 49, 96, 0.15);
  overflow : hidden;

  transition: all .32s linear; 
}

.right-panel .card:hover {
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); 
}

.right-panel .card .card-body{
  padding : 20px;
}

.right-panel .card .box-title{
  font-size : 26px;
  font-family : roboto;
  font-weight : 300;
  color : #4c4d6f;
  margin : 15px 0;
}

.right-panel .card .chart-frame{
  width : calc(100% - 20px);
  padding-top : 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.right-panel .card #chart-content-mid {
  width : 100%;
  top : 36%;
  position : absolute;
  left : 0;
  z-index : 2;
  text-align : center;
}

.right-panel .card #chart-content-mid #desc {
  font-family : brandon bold;
  font-size : 15px; 
  text-transform : uppercase;
  letter-spacing : 2px;
  color : #4c4d6f;
}

.right-panel .card #chart-content-mid #number {
  font-family : brandon medium;
  line-height : 90%;
  font-size : 45px; 
  color : #6c6fe0;
}

.right-panel .card .table {
  width : 100%;
  padding : 0;
  margin : 0;
  margin-top : 30px;
  position : relative;
}

.right-panel .card .table tr td{
  padding : 12px 10px;
}

.right-panel .card .table tr td:nth-child(1){
  padding-left : 20px;
}
.right-panel .card .table tr td{
  text-align : left;
}


.right-panel .card .table thead{
  background : #f0f0ff;
  overflow : hidden;
}
.right-panel .card .table thead tr td {
  text-transform : uppercase;
  letter-spacing : 2px;
  font-size : 15px;
  font-family : brandon bold;
  color : #8080b9;
}

.right-panel .card .table.table-2 thead tr td {
  text-transform : capitalize;
  letter-spacing : normal;
  font-size : 14px;
  font-weight : 600;
  font-family : open sans;
  color : #8080b9;
}

.right-panel .card .table thead tr td:first-child {
  border-top-left-radius : 8px;
  border-bottom-left-radius : 8px;
}
.right-panel .card .table thead tr td:last-child {
  border-top-right-radius : 8px;
  border-bottom-right-radius : 8px;
}

.right-panel .card .table tbody tr td{
  border-bottom : 1px solid #e9e9fb;
  font-size : 15px;
}

.right-panel .card .table tbody tr:last-child td{
  border-bottom : none;
}




.right-panel .page-info-frame {
  position : relative;
  max-width : calc(100% - 50px);
  margin-left : 25px;
}

.right-panel .page-info-frame .body{
  font-weight : 400;
  font-size : 14px;
  display : inline-block;
  border-top-left-radius : 15px;
  border-top-right-radius : 15px;
  background : rgba(136,136,232,0.9);
  padding : 12px 22px;
  color : #fff;
  text-shadow : .5px .5px 1px rgba(0,0,0,0);
  line-height : 110%;
}

.right-panel .page-info-frame .body i{
  margin : 0 10px;
}



.right-panel .desc-table {
  width : 100%;
  padding : 0;
  margin : 0;
  margin-top : 30px;
  position : relative;
}

.right-panel .desc-table.bottom{
  margin-top : 50px;
}

.right-panel .desc-table tr td{
  padding : 6px 0;
  font-weight : 400;
  color : #747479;
}

.right-panel .desc-table tr td:first-child{
  vertical-align : top;
  width : 40%;
  font-weight : 600;
  font-size : 15px;
  color : #4c4d6f;
}

.right-panel .desc-table tr td.green{
  color : #6fff8c;
}

.right-panel .card-frame {
  width : 340px;
  position : relative;
  margin : 0 auto;
}

.right-panel .card-frame .card-box {
  width : 338px;
  height : 212px;
  background-repeat : no-repeat;
  background-size : ;
  position : relative;
  border-radius : 12px;
}

.right-panel .card-frame .card-box#platinum {
  background-image : url(images/card-platinum.png);
  box-shadow: 11.82px 9.235px 32px 0px rgba(92, 176, 243, 0.4);
}
.right-panel .card-frame .card-box#platinum-back {
  background-image : url(images/card-platinum-back.png);
  box-shadow: 11.82px 9.235px 32px 0px rgba(92, 176, 243, 0.4);
}


.right-panel .card-frame .card-box #info{
  text-align : right;
  position : absolute;
  right : 20px;
  top : 108px;
  color : #fff;
  text-shadow : .5px .5px 1px rgba(22,22,22,0.1);
}

.right-panel .card-frame .card-box #info #card-number{
  font-family : prime regular;
  font-size : 22px;
  line-height : 100%;
}
.right-panel .card-frame .card-box #info #card-name{
  font-size : 18px;
  font-weight : 400;
}

.right-panel .card-frame .card-box #qr-code{
  width : 120px;
  height : 120px;
  position : absolute;
  top : 35px;
  left : calc((100% - 140px) / 2);
  overflow : hidden;
  border-radius : 8px;
  padding : 10px;
  background : #fff;
}

.right-panel .card-frame .card-box #qr-code img{
  width : 100%;
}


/* - - - - - E N D - - - - - */



.row#index-first-row .card:hover {
  cursor : pointer;
  box-shadow: 10.692px 5.448px 25px 0px rgba(84,88,215, 0.32);
}

.row#index-first-row .card-body {
  padding-bottom : 40px;
}

.row#index-first-row #title {
  margin-top : 20px;
  font-family : roboto;
  font-weight : 300;
  color : #4c4d6f;
  font-size : 22px;
  line-height : 100%;
  z-index : 2;
  position : relative;
}

.row#index-first-row #number {
  font-family : brandon medium;
  font-weight : 300;
  color : #6c6fe0;
  font-size : 3.2em;
  z-index : 2;
  position : relative;
}

.row#index-first-row .col-3 #icon{
  position : absolute;
  right : -8px;
  bottom : -4px;
  width : 90px;
  height : 90px;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center;
  z-index : 0;
  opacity : 0.8;
  transform-origin: center center;
}

.row#index-first-row .col-3:nth-child(1) #icon{
  background-image : url(images/icon-shopping-basket.png);
}
.row#index-first-row .col-3:nth-child(2) #icon{
  background-image : url(images/icon-online-shop.png);
}
.row#index-first-row .col-3:nth-child(3) #icon{
  background-image : url(images/icon-notepad.png);
}
.row#index-first-row .col-3:nth-child(4) #icon{
  background-image : url(images/icon-advertising.png);
}

.row#index-first-row .col-3:hover #icon{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  backface-visibility: hidden;
}





.row#member-first-row .box-title {
  font-size : 30px;
  font-family : open sans;
  margin-bottom : 0;
  margin-top : 20px;
}

.row#member-first-row .edit-frame {
  width : 270px;
  margin : 0 auto;
  margin-top : 40px;
}

.row#member-2-row .card:hover {
  cursor : pointer;
  transform : translate(0, -5px);
  box-shadow: 10.692px 5.448px 25px 0px rgba(84,88,215, 0.32);
}

.row#member-2-row .card-body {
}

.row#member-2-row #title {
  margin-top : 10px;
  margin-bottom : 10px;
  font-family : roboto;
  font-weight : 300;
  color : #4c4d6f;
  font-size : 18px;
  line-height : 100%;
  z-index : 2;
  position : relative;
}

.row#member-2-row #number {
  font-family : brandon medium;
  font-weight : 400;
  color : #6c6fe0;
  font-size : 3.2em;
  z-index : 2;
  position : relative;
}
.row#member-2-row .card-body.customer-summary #number {
  font-size : 18px;
  font-family : open sans;
}

.row#member-2-row .card #icon{
  position : absolute;
  right : 20px;
  top : 20px;
  width : 50px;
  height : 50px;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center;
  z-index : 0;
  opacity : 0.8;
  transform-origin: center center;
}

.row#member-2-row .col-3:nth-child(1) #icon{
  background-image : url(images/icon-badge.png);
}
.row#member-2-row .col-3:nth-child(2) #icon{
  background-image : url(images/icon-online-shop.png);
}
.row#member-2-row .col-3:nth-child(3) #icon{
  background-image : url(images/icon-file.png);
}
.row#member-2-row .col-3:nth-child(4) #icon{
  background-image : url(images/icon-advertising.png);
}

.row.member-detail-page .purchase-statistic {
  position : relative;
  padding : 20px 0;
  border-top : 1px solid #e3e3ef;
}

.row.member-detail-page .purchase-statistic ul{
  margin : 0;
  padding : 0 12px;
}

.row.member-detail-page .purchase-statistic li{
  list-style : none;
  width : 100%;
  position : relative;
  padding : 10px 0;
}

.row.member-detail-page .purchase-statistic li .title{
  font-family : open sans;
  font-weight : 300;
  font-size : 16px;
}

.row.member-detail-page .purchase-statistic li .sub-title{
  font-family : brandon bold;
  color : #6c6fe0;
  font-size : 24px;
}

.row.member-detail-page .purchase-statistic li i{
  font-size : 22px;
  margin-top : 6px;
  float : right;
}
.row.member-detail-page .purchase-statistic li i.up{
  color : #08d26f;
}
.row.member-detail-page .purchase-statistic li i.down{
  color : #f76969;
}

.row#product-detail-first-row .button-frame {
  margin-top : 40px;
  margin-bottom : 20px;
  float : right;
}

.row#product-detail-first-row .col-8 .card {
  min-height : 0px;
}
.row#product-detail-first-row .col-4 .chart-frame#product-chart-1{
  padding-top : 0px;
}

.row.product-detail-page#index-first-row #title {
  font-size : 22px;
  font-weight : 500;
}

.row.product-detail-page#index-first-row #number {
  margin-top : 5px;
  font-size : 24px;
  font-family :;
}




/* - - - - - F O L D E R - T R E E - - - - - */


.row#folder-tree-first-row .card{
  min-height : 600px;
}

.row#folder-tree-first-row .header {
  width : 100%;
  font-size: 19px;
  font-family: roboto;
  font-weight: 400;
  color: #4c4d6f;
  padding : 20px 0;
  padding-top : 20px;
  border-bottom : 1px solid #e9e9fb;
}

.row#folder-tree-first-row .header .page-header-title{
  width : calc(100% - 100px);
  float : left;
}

.row#folder-tree-first-row .header .page-header-title a {
  margin: 0 10px;
  padding : 7px 10px;
  border-radius : 6px;
  transition : all .2s linear;
}
.row#folder-tree-first-row .header .page-header-title a:first-child {
  margin-left : -7px;
}
.row#folder-tree-first-row .header .page-header-title a:hover {
  background : #f2f3fc;
  box-shadow : inset 0 2px 2px rgba(134,144,230,0.2);
  transition: all 320ms ease-in-out; 
}

.row#folder-tree-first-row .header  .page-header-title i {
  margin: 0 -6px;
  font-size : 17px;
}

.row#folder-tree-first-row .header .page-change-view {
  width : 100px;
  margin-top : -10px;
  float : right;
  position : relative;
}

.row#folder-tree-first-row .header .page-change-view .icon{
  position : relative;
  float : left;
  cursor : pointer;
  width : 40px;
  height : 40px;
  line-height : 40px;
  border-radius : 50%;
  text-align : center;
  border : 1px solid transparent;
  font-size : 16px;
  color : #8485ad;
  transition: all .2s cubic-bezier(0.7,0,0.3,1);
}
.row#folder-tree-first-row .header .page-change-view .icon:first-child{
  margin-right : 10px;
}

.row#folder-tree-first-row .header .page-change-view .icon:hover,
.row#folder-tree-first-row .header .page-change-view .icon.active:hover{
  background : #fff;
  transform : scale(1.05);
  color : #6064e0;
  border-color : rgba(255,255,255,0);
  box-shadow : 0px 4px 12px rgba(96,100,224,0.4);
}

.row#folder-tree-first-row .header .page-change-view .icon.active{
  background : #6064e0;
  color : #fff;
  border-color : rgba(0,0,0,0);
}

.row#folder-tree-first-row .header .page-change-view #view-as-icon i{
	line-height: 42px;
}

.row#folder-tree-first-row .folder-body {
  position : relative;
  margin-top : 0px;
}

.row#folder-tree-first-row .folder-body .page-section{
  margin-top : 30px;
  margin-bottom : 15px;
  font-size: 16px;
  font-family: roboto;
  font-weight: 500;
}

.row#folder-tree-first-row .folder-body .page-section div{
  display : inline-block;
  padding : 7px 15px;
  padding-right : 40px;
  border-radius : 8px;
  border-top-right-radius : 40px;
  border-bottom-right-radius : 8px;
  color : #4c4d6f;
  background : #e2e9ff;
}

.row#folder-tree-first-row .folder-body ul{
  list-style : none;
  margin : 0;
  padding : 0;
}

.row#folder-tree-first-row .folder-body ul li{
  opacity : 0;
  transition : all .32s ease-in-out;
}

.row#folder-tree-first-row .folder-body ul li .icon#user {
  background-image : url(images/icon-folder-user.png);
}
.row#folder-tree-first-row .folder-body ul li .icon#calendar {
  background-image : url(images/icon-folder-calendar.png);
}




.row#folder-tree-first-row .folder-body.box-view ul {
  display: flex;
  flex-wrap: wrap;
}

.row#folder-tree-first-row .folder-body.box-view ul li {
  list-style : none;
  width : calc(20% - 20px);
  margin : 10px;
  display: table-cell;
  position : relative;
  border-radius : 9px;
  opacity : 1;
}

.row#folder-tree-first-row .folder-body.box-view ul li:hover {
  background : #f2f3fc;
  box-shadow : inset 1px 2px 2px rgba(134,144,230,0.2);
  cursor : pointer;
}

.row#folder-tree-first-row .folder-body.box-view ul li #padding {
  padding : 10px;
}

.row#folder-tree-first-row .folder-body.box-view ul li .icon {
  width : 70%;
  height : 100px;
  margin : 0 auto;
  text-align : center;
  margin-bottom : 10px;
  margin-top : 20px;
  position : relative;
  background-size : 100%;
  background-repeat : no-repeat;
}

.row#folder-tree-first-row .folder-body.box-view ul li .title {
  width : 100%;
  text-align : center;
  font-size: 16px;
  font-family: roboto;
  line-height : 130%;
  font-weight: 300;
}

/* - - - - - - */

.row#folder-tree-first-row .folder-body.list-view ul {
  display: flex;
  flex-wrap: wrap;
}

.row#folder-tree-first-row .folder-body.list-view ul li {
  list-style : none;
  float : left;
  width : 100%;
  opacity : 1;
  border-bottom : 1px solid #e9e9fb;
}

.row#folder-tree-first-row .folder-body.list-view ul li:hover{
  border-radius : 5px;
  background : #f0f0fe;
  cursor : pointer;
}

.row#folder-tree-first-row .folder-body.list-view ul li:last-child {
  border-bottom : none;
}

.row#folder-tree-first-row .folder-body.list-view ul li #padding {
  padding : 8px 0px;
}

.row#folder-tree-first-row .folder-body.list-view ul li .icon {

  display : table-cell;
  width : 40px;
  height : 40px;
  margin : 0 auto;
  text-align : center;
  margin-left :  : 20px;
  position : relative;
  background-size : 60%;
  background-position : center center;
  background-repeat : no-repeat;
}

.row#folder-tree-first-row .folder-body.list-view ul li .title {
  display : table-cell;
  padding-left : 15px;
  padding-top : 10px;
  width : 500px;
  max-width : 40%;
  font-size: 18px;
  font-family: roboto;
  font-weight: 300;
}





































































